<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.nspl.restaurantlite">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.hardware.camera.flash" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--
<uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launch_icon_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launch_icon_new"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.AllSmsLogsMainActivity"></activity>
        <activity android:name=".activity.OrderSummaryItemActivity" />

        <activity
            android:name=".Navigation_Drawer.SmsLogsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name=".activity.SendSmsPreviewActivity" />
        <activity
            android:name=".activity.SendSmsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.OverViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InvoiceInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.RestoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BackUpAndRestoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.CustomerDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.Activity_wts_new"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BarcodeClasses.BarcodeReaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LogInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".activity.LoginActivityDemo" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity android:name=".activity.AddCityActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".activity.PendingPaymentActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".activity.RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.OrderQuotationInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.RecentQuotationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".MultipleImage.PurchaseListImagePreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.OrderSummeryQuotationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.AddCategoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ListOfBkpFile.Activity_ListOfBkp_File"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".activity.SHAP_Lite_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AddUnitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.AddVendorActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.AddExpenseTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.AddEmployeeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.AddInventoryItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.AddExpenseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.AddInventoryStockActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.Document_ListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.AddDocumentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.TaxesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.AddBillEntryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.InventorySummaryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.VendorBillDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.MonthwiseStockActivity"
            android:screenOrientation="portrait" /> <!-- NEW -->
        <!--  -->
        <activity
            android:name=".activity.VendorBillDescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Customer.ActivityCustomerMaster"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ExpenseDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EmailConfigurationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.AllExpensesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DisplayBarDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecentOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.OrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddTermsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.DisplayTAndCActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DisplayPlansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OtpVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingAutoEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.CheckLicencePlanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.Faq_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection|uiMode"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.Activity_ImportCustomer"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection|uiMode"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.OrderDetailInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EmailLogsActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="com.demo.nspl.restaurantlite.Receives.UpdatePackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.RetialViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityRestoreList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityWebView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityPaymentProcess"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Activity_MakePayment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityCashCollectionOtp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityChangeMobileNum"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ActivityHelp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" /> <!-- Add your API key here -->
        <activity
            android:name=".Complain.SelectComplainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ActivitySetNewPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ActivityForgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ActivityForgotPasswordOTP"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.SetNumFormatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ActivityNewPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".SMS.SmsIdSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".SMS.GetSmsIdPackagesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".SMS.ActivitySmsValueDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".SMS.Sms_FormatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ActivityUpdateProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ActivityChangePassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.CurrentPackageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.AddInventoryLayerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.AddItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Signature.ActivityLogoSignature"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.FilterDialogActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.SalesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.AddTaxSlabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Purchase.RetailPurchaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Purchase.PurchaseItemListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Purchase.ItemListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Purchase.PurchaseDetailsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VendorLedger.VendorDetailActivity"
            android:label="@string/title_activity_vendor_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Stock.StockDetailActivity"
            android:label="@string/title_activity_vendor_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Payment.PaymentDetailActivity"
            android:label="@string/title_activity_vendor_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PremiumActivity"
            android:label="@string/title_activity_vendor_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".backGroundTask.BackupLogsActivity"
            android:label="@string/title_activity_vendor_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultipleImage.DisplayMultipleImgActivity"
            android:label="@string/title_activity_vendor_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultipleImage.ImagePreviewActivity"
            android:label="@string/title_activity_vendor_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultipleImage.PurchaseImagePreviewActivity"
            android:label="@string/title_activity_vendor_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GenerateQuotationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".SMS.AddCustomerGroupActivityNew"
            android:label="@string/title_activity_vendor_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".RxContacts.MultiContactPickerActivity"
            android:label="@string/picker_title" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_2ArlUBGUs9XUPK" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.myfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver
            android:name=".backGroundTask.SendEmailTask"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".backGroundTask.NotificationReceiver" />

        <service
            android:name=".UploadFileToServer.CheckNetworkJob"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activity.Bill_No_FormatsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.DirectCustomerPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".ImageEdit.ActivityImageEdit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".activity.CustomerWisePaymentReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.CountryStateCityListActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.DirectAddPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".MultipleImage.DisplayImageNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".VendorPayment.DirectVendorPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".VendorPayment.VendorWisePaymentReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />


    </application>

</manifest>